@using ABDOTClient.Model
@using ABDOTClient.Authentication
@using LoginComponent
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationStateProvider EAuthenticationStateProvider
@inject NavigationManager NavigationManager
@namespace LoginBoxComponent
<style>
    .login-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
    }
</style>
 @if(employee!=null) {
    <a class="nav-link text-light" style="color:orange" @onclick="@(() => NavigationManager.NavigateTo($"/profile/{employee.Id}"))">Hello, @employee.FirstName!</a>
    <span class="breadcrumbs-separator">|</span>
    <a class="nav-link text-light" @onclick="@(PerformLogout)" style="color:orange">Logout</a>
}
@code{
    private Employee employee;
    private Login login;
    protected override void OnInitialized() {
        login = new Login();
        
        employee = new Employee();
        employee  = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).cachedUser;
        

    }
    public async Task PerformLogout()
    {
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Source);
            throw;
        }
        
    }

}
