@page "/login"
@using ABDOTClient.Authentication
@using ABDOTClient.Model
@using System.Text.Json
@namespace LoginComponent

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div style="width: 100%; display: flex; justify-content: center; align-items: center">
    <div>
        <AuthorizeView>
            <NotAuthorized>
                <h3>Login</h3>
                <div class="form-group">
                    <p>@confirmationMessage</p>
                    <input type="text" placeholder="e-mail" @bind-value="email"/>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="password" @bind-value="password"/>
                </div>
                <div style="color:red">@errorMessage</div>
                <p class="actions" style="display: flex; align-content: space-between; justify-content: space-between">
                    <button class="btn-outline-dark" @onclick="PerformLogin">Login</button>
                    <button class="btn-outline-dark" @onclick="Cancel">Cancel</button>
                </p>
            </NotAuthorized>
            <Authorized>
                <div>
                  
                </div>
                <p class="actions">
                <button class="btn-outline-dark" @onclick="GoToProfilePage">My Profile</button>
                </p>
                <p class="actions">
                    <button class="btn-outline-dark" @onclick="PerformLogout">Log out</button>
                </p>
                
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private string email;
    private string password;
    private string confirmationMessage;
    private string errorMessage;
    private int Id;
    private Employee returnedEmployee;
    
    
    

    public async Task PerformLogin()
    {
        errorMessage = " ";
        Console.WriteLine("logging in");
        

        try {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(email, password);
            returnedEmployee = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).cachedUser;
            
            Console.WriteLine(returnedEmployee + "this is returned user in login");
            
            NavigationManager.NavigateTo("/",true);
        }
        catch (Exception e) {
            Console.WriteLine(e);
            errorMessage = e.Message;
        }
        Console.WriteLine("Success");
    }
    

    public async Task PerformLogout()
    {
        errorMessage = "";
        confirmationMessage = "";
        email = "";
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
            
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
            Console.WriteLine(e.Source);
            throw;
        }
        
    }

    public async Task Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
    public void GoToProfilePage()
    {
        NavigationManager.NavigateTo($"/profile/{returnedEmployee.Id}");
    }
    
    
}