@page "/AddBranch"
@using ABDOTClient.Data
@using ABDOTClient.Model
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
<h3>AddBranch</h3>
<EditForm Model="@newBranchItem" OnValidSubmit="@AddNewBranch">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
<div class="form-group">
    Name of the city:<br/>
    <InputText @bind-Value="newBranchItem.City"/>
</div>
    <p class="actions">
            <button class="btn btn-dark" type="submit">Submit</button>
        </p>
</EditForm>
@code {
    private Branch newBranchItem = new Branch();
    private IBranchService branchService = new BranchCloudService();
    private string confirmationMessage = "";
    

    
    
    
    private async Task AddNewBranch()
    {
        if (await branchService.CreateBranch(newBranchItem) != null)
        {
            confirmationMessage = "Success";
            NavigationManager.NavigateTo($"/branches");
            
        }
     
    }
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }

}