@page "/admin"


<div class="container" style="background-color:#ffffff">
    <h1 id="admin-header">administration</h1>
    <div class="program row">
        <div class="date-list col-sm-12 hidden-xs-down">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/movielist">Movies</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover disabled" style="color: red;" href="/playlist">Shows/Do not enter: exception ahead</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/personel">Personel</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/branches">Branches</a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/sellticket">Sell Ticket</a> 
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/selectticket">select ticket debug</a> 
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="date-list-link btn btn--white btn--outline-black btn--small btn--full btn--hover " href="/seatselection">Seat Selection Debug</a> 
                </div>
                
                
            </div>
            </div>
    </div>
</div>

@code {
    
}