@page "/EditEmployee/{Id:int}"

@using ABDOTClient.Model
@using ABDOTClient.Pages.Administration
@using Microsoft.AspNetCore.Components
@using ABDOTClient.Data
@inject NavigationManager NavigationManager
@namespace EditEmployeeComponent
<h3>Edit employee</h3>
<EditForm Model="@newEmployeeItem" OnValidSubmit="@EditAnEmployee">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
<div class="form-group">
    First name:<br/>
    <InputText @bind-Value="newEmployeeItem.FirstName"/>
</div>
<div class="form-group">
    Last name:<br/>
    <InputText @bind-Value="newEmployeeItem.LastName"/>
</div>
<div class="form-group">
    Password:<br/>
    <InputText @bind-Value="newEmployeeItem.Password"/>
</div>
<div class="form-group">
    Email:<br/>
    <InputText @bind-Value="newEmployeeItem.Email"/>
</div>
<div class="form-group">
    Street:<br/>
    <InputText @bind-Value="newEmployeeItem.Street"/>
</div>
<div class="form-group">
    Postcode:<br/>
    <InputText @bind-Value="newEmployeeItem.Postcode"/>
</div>
    <div class="form-group">
        City:<br/>
        <InputText @bind-Value="newEmployeeItem.City"/>
    </div>
    <div class="form-group">
        Country:<br/>
        <InputText @bind-Value="newEmployeeItem.Country"/>
    </div>
    <div class="form-group">
        CPR Number:<br/>
        <InputText @bind-Value="newEmployeeItem.CPR"/>
    </div>
    <div class="form-group">
        Role:<br/>
        <CustomInputSelect @bind-Value="newEmployeeItem.Role">
            <option value="0">Manager</option>
            <option value="1">Owner</option>
            <option value="2">Operator</option>
        </CustomInputSelect>
    </div>
    
    <p class="actions">
            <button class="btn btn-dark" type="submit">Submit</button>
        </p>
</EditForm>
@code {
    private Employee newEmployeeItem = new Employee();
    private IEmployeeService employeeService = new EmployeeCloudService();
    private string confirmationMessage = "";
    

    
    
    
    private async Task EditAnEmployee()
    {
        if (await employeeService.EditEmployee(newEmployeeItem))
        {
            confirmationMessage = "Success";
            NavigationManager.NavigateTo($"/personel");
            
        }
     
    }
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }

}