@page "/EditBranch/{Id:int}"
@using ABDOTClient.Model
@using ABDOTClient.Pages.Administration
@using Microsoft.AspNetCore.Components
@using ABDOTClient.Data
@inject NavigationManager NavigationManager
@namespace EditEmployeeComponent
<h3>Edit employee</h3>
<EditForm Model="@newBranchItem" OnValidSubmit="@EditABranch">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        Name of the city:<br/>
        <InputText @bind-Value="newBranchItem.City"/>
    </div>
    <div class="form-group">
        Name of the street:<br/>
        <InputText @bind-Value="newBranchItem.Street"/>
    </div>
    <div class="form-group">
        Postcode:<br/>
        <InputText @bind-Value="newBranchItem.Postcode"/>
    </div>
    
    <p class="actions">
            <button class="btn btn-dark" type="submit">Submit</button>
        </p>
</EditForm>
@code {
    private Branch newBranchItem = new Branch();
    private IBranchService branchService = new BranchCloudService();
    private string confirmationMessage = "";
    

    [Parameter]
    public int Id { get; set; }
    
    
    private async Task EditABranch()
    {
        if (await branchService.EditBranch(newBranchItem) !=null)
        {
            confirmationMessage = "Success";
            NavigationManager.NavigateTo($"/branches");
            
        }
     
    }
    protected override async Task OnInitializedAsync()
    {
        newBranchItem = await branchService.GetBranch(Id);

    }

}