@inherits LayoutComponentBase

<body>
    <NavMenu />

    <div >
        @Body
    </div>
</body>

<footer class="border-top footer text-muted" style="border-color: #6c757d !Important;">
    <div class="container mt-4 mb-4" style="display: flex; align-items: center; justify-content: center">
        <span>&copy; 2021 - @DateTime.Today.Year ABDOT Co. </span>
    </div>
</footer>