@using Microsoft.AspNetCore.Mvc.Filters
@using ABDOTClient.Model
@using ABDOTClient.Data
@inject NavigationManager NavigationManager
@inject IBranchService BranchService
<style>
    .header-selectpicker{
        border: none;
        background-color: #131313;
        padding: 3px 0 3px 0;
        float: right;
        height: 25px;
        font-size: 14px;
        background-size: 13px;
        color: white;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark navbar-custom  box-shadow mb-3 fixed-top" >
    <div class="container" style="color:#1e1e1e!important;">
        <div class="col-icon">
            <a class="header-logo" href="/"><img src="css/images/logo.svg"/></a>
            
        </div>
        
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="@NavMenuCssClass navbar-collapse d-lg-inline-flex flex-lg-row" @onclick="CollapseNavMenu">
            <ul class="navbar-nav navbar-nav-custom flex-grow-1">
                <li class="nav-item" style="padding-top: 0">
                    <a class="nav-link text-light" href="/">Programme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/premieres">Premieres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/admin">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/profile">testprofile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Anotherlink</a>
                </li>
                
            </ul>
            <div class="login-box">
                <a class="nav-link text-light" href="/login" style="color:orange">Login</a>
                <span class="breadcrumbs-separator">|</span>
                <a class="nav-link text-light" href="/register" style="color:orange">Register</a>
            </div>
            
        </div>
        
    </div>
</nav>


@code {
    private IList<Branch> branches;

    protected override async Task OnInitializedAsync()
    {
        
    }

    
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}